// Colors
$color-primary: #502700;
$color-white: #ffffff;
$color-black: #000000;
$color-softer-black: #333333;
$color-light-gray: #F4F4F4;
$color-yellow: #FDF76A;
$color-red: #E64B12;
$color-orange: #F8B500;
$color-softer-red: #E66231;
$color-gray: #B1B1B1;
$color-dark-gray: #999999;
$color-darker-gray: #707070;
$color-soften-gray: #DBDBDB;
$color-light-blue: #BCD1F8;

$color-table-title: #E6DACF;
$color-table-lock: #FAF3ED;
$color-add-btn: #502700;

// Font Sizes
$font-10: 0.625rem; // 10px
$font-11: 0.688rem; // 11px
$font-12: 0.75rem; // 12px
$font-13: 0.812rem; // 13px
$font-14: 0.875rem; // 14px
$font-16: 1rem; // 16px
$font-17: 17px; // 17px
$font-18: 1.125rem; // 18px
$font-19: 1.188rem; // 19px
$font-20: 1.25rem; // 20px
$font-21: 1.313rem; // 21px
$font-24: 1.5rem; // 24px
$font-28: 1.75rem; // 28px
$font-32: 2rem; // 32px
$font-36: 2.25rem; // 36px

// Font Weight
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;
